<h1>AdminsBackoffice::Welcome#index</h1>
<p>Find me in app/views/admins_backoffice/welcome/index.html.erb</p>

<p><%= link_to  "Fazer logout [Administrador]", destroy_admin_session_path, method: :delete %></p>