<h1>UsersBackoffice::Welcome#index</h1>
<p>Find me in app/views/admins_backoffice/welcome/index.html.erb</p>

<p><%= link_to  "Fazer logout [Usuário]", destroy_user_session_path, method: :delete %></p>