<h2>Log in - Admin</h2>

<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
</div>

<% if devise_mapping.rememberable? %>
<div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
</div>
<% end %>

<div class="actions">
    <%= f.submit "Log in" %>
</div>
<% end %>

<%= render "admins/shared/links" %>