<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
<p>Usuário Está logado: <%= current_user.email %></p>

<% else %>
<p>Usuário não Está logado</p>
<% end %>

<% if admin_signed_in? %>
<p>Administrador Está logado: <%= current_admin.email %></p>

<% else %>
<p>Administrador não Está logado</p>
<% end %>