<!DOCTYPE html>
<html>

<head>
    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
</head>

<body>
    <h1>Layout Site</h1>
    <%= yield %>
</body>

</html>